.app-footer {
  height: 55px;
  background: #f5f5f5;
  border-top: 1px solid #fff;
  display: flex;

  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  a {
    flex-grow: 1;
    display: flex;
    height: 100%;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    color: rgb(136, 136, 136);
    i {font-size: 20px;}

    padding: 5px 0px;

    &.selected {
      color: #d43d3d;
    }
  }
}